:root {
    --primary-green: #1D492C;
    --accent-green: #84cc16;
    --pastel-green: #BDE08A;
    --light-green: #f0fdf4;
    --dark-green: #143820;
    --dark-gray: #374151;
    --light-gray: #f9fafb;
    --white: #ffffff;
    --bg-color: #cfc4b2ff;
    --primary-brown: #8A6440;
    --dark-brown: #4D2D18;
    --gradient-primary: linear-gradient(135deg, var(--primary-green), var(--accent-green));
    --gradient-secondary: linear-gradient(135deg, var(--primary-green), var(--pastel-green));
}

.admin-sidebar {
    height: 90% !important;
    width: 270px !important;
    position: fixed !important;
    left: 10px !important;
    top: 50px !important;
    background: var(--gradient-secondary) !important;
    color: var(--light-green) !important;
    border-radius: 20px !important;
    padding-top: 20px !important;
    transition: all 0.3s;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.sidebar-logo {
    width: 20%;
    justify-content: center;
    align-items: center;
    display: block;
    margin: 0 auto !important;
    margin-bottom: 1rem !important; 
    margin-top: 2rem !important;
}

.admin-sidebar-title {
    color: var(--light-green) !important;
    font-weight: bold !important;
    margin-bottom: 2rem !important
}

.admin-sidebar-btn {
    text-align: left !important;
    color: var(--light-green) !important;
    font-weight: 500;
}

.sidebar-ul {
    display: flex !important;
    flex-direction: column !important;
    height: 100% !important; 
}

.sidebar-ul li:last-child {
    margin-top: auto !important;
    margin-bottom: 1rem !important; 
}

.admin-sidebar-btn-logout {
    color: rgb(158, 20, 20) !important;
    font-weight: 500 !important;
}

.admin-sidebar-btn:hover {
    background: var(--pastel-green);
    color: var(--primary-green) !important;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}

.admin-sidebar-btn-logout:hover {
    background-color: rgba(29, 73, 44, 0.7) !important;
    color: var(--light-green) !important;
}

.logout-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.395);
    backdrop-filter: blur(4px); 
    z-index: 1040; 
}

/* ================== LOGOUT MODAL ============== */
.logout-modContent {
    border-radius: 20px !important;
    border: 2px solid var(--dark-brown) !important;
}

.logout-modHeader {
    padding: 10px !important;
    background-color: var(--primary-brown) !important; 
    border-top-right-radius:19px;
    border-top-left-radius: 19px;
    color: var(--light-green); 
    border-bottom: 2px dashed var(--dark-brown) !important;
}

.logout-modFooter {
    padding: 5px !important;
    background-color: var(--light-green) !important;
    border-bottom-right-radius:19px;
    border-bottom-left-radius: 19px;
}

.logout-modBody {
    background-color: var(--light-green) !important;
    color: var(--primary-brown);
    font-weight: 500;
}

.logout-modFooter button {
    border-radius: 20px !important;
}

.logout-cancelBtn {
    background-color: transparent;
    color: var(--primary-brown);
    border: 2px solid var(--primary-brown) !important;
}

.logout-cancelBtn:hover {
    background-color: var(--bg-color) !important;
    color: var(--primary-brown) !important;
}