@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --primary-green: #1D492C;
  --accent-green: #84cc16;
  --pastel-green: #BDE08A;
  --light-green: #f0fdf4;
  --dark-green: #143820;
  --dark-gray: #374151;
  --light-gray: #f9fafb;
  --white: #ffffff;
  --bg-color: #cfc4b2ff;
  --primary-brown: #8A6440;
  --dark-brown: #4D2D18;
}

.footer-logo {
  width: 150px !important;
  margin-bottom: 1rem;
}

.footer {
  background-color: var(--primary-green);
  color: var(--light-green);
  padding: 40px 40px 20px 40px;
  width: 100%;
  left: 0 !important;
  right: 0 !important;
  font-family: "Lexend";
  font-weight: 300 !important
}

.footer-social a:hover {
  opacity: 0.7;
}

.footer-links li {
  margin-bottom: 8px;
  text-decoration: none !important;
}

.footer li a {
  font-family: "Lexend" !important;
}

.footer-links a {
  color: var(--light-green);
  transition: opacity 0.3s ease;
  width: 30px !important;
  margin-top: 2rem !important;
  text-decoration: none !important;
}

.footer-links ul {
  list-style: none;   
  padding-left: 0;    
  margin: 0;        
}


.footer-links a:hover {
  opacity: 0.7;
}

.footer-social a i {
  color: var(--light-green) !important;
  margin-top: 1rem !important;
}

.footer-divider {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0 15px 20px 15px;
}

.footer-copyright {
  font-size: 14px;
  color: var(--light-green);
  padding-bottom: 10px;
}
