.mobile-team-section {
  width: 100%;
}

.mobile-team-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  background-color: white !important;
  padding: 5px !important;
}

.mobile-team-name {
  font-size: 1.1rem;
  color: var(--dark-brown);
  margin-bottom: 5px;
  font-family: "Lexend", sans-serif;
}

.mobile-team-role {
  font-size: 0.95rem;
  color: #555;
  font-family: "Lexend", sans-serif;
  font-weight: 400 !important;
}

@media (min-width: 769px) {
  .mobile-team-slider {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
  }

  .mobile-team-item {
    flex: 0 0 30%;
    max-width: 300px;
  }
}

@media (min-width: 576px) and (max-width: 767.75px) {
  .mobile-team-slider {
    display: flex;
    overflow-x: auto;
    gap: 2rem;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 0 1rem;
    -webkit-overflow-scrolling: touch;
  }

  .mobile-team-slider::-webkit-scrollbar {
    display: none;
  }

  .mobile-team-item {
    flex: 0 0 35%;
    min-width: 35%;
    scroll-snap-align: start;
    text-align: center;
  }
}
@media (min-width: 576px) and (max-width: 644.75px) {
  .mobile-team-slider {
    gap: 2.5rem;
  }

  .mobile-team-item {
    flex: 0 0 30%;
    min-width: 30%;
  }

  .mobile-team-img {
    width: 120px;
    height: 120px;
  }

  .mobile-team-img {
    font-size: 12px !important;
  }

  .mobile-team-role {
    font-size: 10px !important;
  }
}

@media (min-width: 320px) and (max-width: 575.75px) {
  .mobile-team-slider {
    gap: 2.5rem;
  }

  .mobile-team-item {
    flex: 0 0 30%;
    min-width: 30%;
  }

  .mobile-team-img {
    width: 120px;
    height: 120px;
  }

  .mobile-team-img {
    font-size: 12px !important;
  }

  .mobile-team-role {
    font-size: 10px !important;
  }
}


