:root {
    --primary-green: #1D492C;
    --accent-green: #84cc16;
    --pastel-green: #BDE08A;
    --light-green: #f0fdf4;
    --dark-green: #143820;
    --dark-gray: #374151;
    --light-gray: #f9fafb;
    --white: #ffffff;
    --bg-color: #cfc4b2ff;
    --primary-brown: #8A6440;
    --dark-brown: #4D2D18;
    --gradient-primary: linear-gradient(135deg, var(--primary-green), var(--accent-green));
    --gradient-secondary: linear-gradient(135deg, var(--primary-green), var(--pastel-green));
  }

.testimonial-container {
  background-color: var(--pastel-green) !important;
}

.testimonial-container{
    background-color: var(--pastel-green);
    padding: 50px 50px !important;
}
.testimonial-card {
    background-color: var(--light-green) !important;
}